@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.container{
 justify-content: space-between;
 display: flex;
 padding: 10px;
 align-items: center;
 box-sizing: border-box
}

body{
  background-image: url(/src/img/FI-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.logo{
  border: 4px solid black;
  background-color:darkblue;
  padding: 10px;
  object-fit: cover;
  border-width: 2px;
  border-color: black;
  display: block;
  position: relative;
  font-size: 60%;
  font-style: oblique;
  color:burlywood;
}
.button{
  display: flex;
  justify-content: center;
  gap: 60px;
}
.nav-link{
  width: 100px;
  height:50px ;
 
  .text{
    color:aqua;
    }
}
.header{
  background-image: url(/src/img/images.jpg);
}
.table{
  background-color: white;

}
.btn{
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: aqua;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.feedback{
  text-align: center;
  background-color: white;
}
.login{
  border: 2px solid black;
  background-color:white  ;
  width: 1000px;
  height:600px ;
  text-align: center;
}
.login1{
text-align: center;
}
.formlogin{
  width: 500px;
  height:300px; 
}
